*{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
  text-decoration: none;  
}

body{
  overflow-x: hidden;
}

.home{
  background-image: url(./imagenes/wallNeon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width:100%;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .containerChild{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.383);
}

.textContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.titleContainer1{
  color: white;
  margin: 10px 0 10px 0;
}

.titleContainer1 h1{
  font-size: 7rem;
  color: white;
  filter: drop-shadow(0px 0px 25px rgb(255, 255, 0));

}

.textContainer2{
  color: white;
  padding: 0 5rem ;
}

/* fuentes */


.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;

  /*ESTE VALOR ESTA MAL CREO*/
  font-weight: weight;
  font-style: normal;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tilt-neon{
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}


.pizza button:hover {
  background-color: orangered;
}

.imgContainer1 img:hover{
  filter: drop-shadow(0px 0px 15px rgb(255, 255, 0));
  
   
}

/* @keyframes burguerAnimation {
  0%{
    opacity: 1;
    transform: translatey(0px);
    filter: drop-shadow(30px 100px 14px rgba(0, 0, 0, 0.212));
  }
  50% {
    opacity: 1;
    transform: translatey(70px);
    filter: drop-shadow(30px 0px 7px rgba(0, 0, 0, 0.212));
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
    filter: drop-shadow(30px 100px 10px rgba(0, 0, 0, 0.212));

  }
} */




.textContainer2{
  padding: 4rem 3rem 0 6rem;
}

.textContainer2 p{
  color: white;
  width: 100%;
  font-size: 2rem;
}

.buttonContainer{
  margin-top: 5rem;
}

.orderButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: 4rem;
  border-radius: 3em;
  border: none;
  background-color: #6d0d31;
  color: white;
  font-size: 2.5rem;
  filter: drop-shadow(18px 10px 10px rgba(0, 0, 0, 0.445));
}

.orderButton:hover{
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 0));
}

.orderIcon{
width: 2.5rem;
padding: 0 .8rem .5rem 0;
}

.buttonContainer button:hover{
  background-color: rgb(255, 251, 42);
  color: black;
  cursor: pointer;
}

/* fuente Google Fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight:200;
  font-style: normal;
}

.pizzaSmokeContainer{
  width: 40%;
  height: 600px;
  position: relative;
}

.imgContainer1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.imgContainer1 img{
  position: absolute;
  bottom: 0;
  left: 0px;
  filter: drop-shadow(50px 15px 8px rgba(0, 0, 0, 0.281)); 
  width: 100%;
  /*display: flex;
  justify-content: center;
   filter: drop-shadow(40px 150px 14px rgba(0, 0, 0, 0.281)); 
  
      animation-name: burguerAnimation;
      animation-duration: 6s;
      animation-timing-function:ease;
      animation-delay: 1s;
      animation-iteration-count: infinite;
       */
  }
    
    /* @keyframes burguerAnimation {
      0%{
        opacity: 1;
        transform: translatey(0px);
        filter: drop-shadow(30px 100px 14px rgba(0, 0, 0, 0.212));
      }
      50% {
        opacity: 1;
        transform: translatey(70px);
        filter: drop-shadow(30px 0px 7px rgba(0, 0, 0, 0.212));
      }
      100% {
        opacity: 1;
        transform: translatey(0px);
        filter: drop-shadow(30px 100px 10px rgba(0, 0, 0, 0.212));

      }
    } */

    .smokeContainer{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 300px;
      filter: opacity(100%);
    }

    .smoke, .smoke2, .smoke3{
      filter: blur(1px);
      transform-origin: 40% 50%;
      
    }

    .smoke{
      animation: smoke1 3s linear infinite;
      animation-delay: 0.5s;
    }

    .smoke2{
      animation: smoke2 3s linear infinite;
      animation-delay: 1.5s;
    }

    .smoke3{
      width: 500px;
      animation: smoke3 4s linear infinite;
      animation-delay: 2.5s;
    }

    @keyframes smoke1 {
      0%{
          filter: blur(0px);
          transform: translateY(0px) scale(-1, 1);
          opacity: 0;
      }
      25%{
          filter: blur(3px);
          transform: translateY(-10px) scale(-1, 1.05);
          opacity: 0.5;
      }
      50%{
          filter: blur(5px);
          transform: translateY(-20px) scale(-1, 1.1);
          opacity: 1;
      }
      75%{
          filter: blur(5px);
          transform: translateY(-30px) scale(-1, 1.15);
          opacity: 0.5;
      }
      100%{
          filter: blur(7px);
          transform: translateY(-40px) scale(-1, 1.2);
          opacity: 0;
      }
    }

    @keyframes smoke2 {
      0%{
          filter: blur(0px);
          transform: translateY(0px) scale(1);
          opacity: 0;
      }
      25%{
          filter: blur(3px);
          transform: translateY(-10px) scale(1.05);
          opacity: 0.5;
      }
      50%{
          filter: blur(5px);
          transform: translateY(-20px) scale(1.1);
          opacity: 1;
      }
      75%{
          filter: blur(5px);
          transform: translateY(-30px) scale(1.15);
          opacity: 0.5;
      }
      100%{
          filter: blur(7px);
          transform: translateY(-40px) scale(1.2);
          opacity: 0;
      }
    }

    @keyframes smoke3 {
      0%{
          filter: blur(0px);
          transform: translateY(0px) scale(1);
          opacity: 0;
      }
      25%{
          filter: blur(3px);
          transform: translateY(-20px) scale(1.05);
          opacity: 0.5;
      }
      50%{
          filter: blur(5px);
          transform: translateY(-40px) scale(1.1);
          opacity: 1;
      }
      75%{
          filter: blur(5px);
          transform: translateY(-60px) scale(1.15);
          opacity: 0.5;
      }
      100%{
          filter: blur(7px);
          transform: translateY(-80px) scale(1.2);
          opacity: 0;
      }
    }

 
/* Celulares pequeños */
@media screen and (min-width: 480px) and (max-width: 699px) {
  .titleContainer1 h1 {
    font-size: 3.5em;
    margin-top: 1em;
  }

  .textContainer {
    width: 100%;
  }

  .textContainer2 p {
    font-size: 1.4em;
  }

  .containerChild {
    flex-direction: column;
  }

  .buttonContainer {
    position: relative;
    z-index: 19;
  }

  .pizzaSmokeContainer {
    width: 65%;
    margin-bottom: 2em;
  }

  .pizzaSmokeContainer .smokeContainer {
    bottom: 30px;
  }

  .pizzaSmokeContainer .imgContainer1 img {
    width: 100%;
  }
}

@media screen and (min-width: 700px) and (max-width: 909px) {
  .titleContainer1 h1 {
    font-size: 3.5em;
    margin-top: 1em;
  }

  .textContainer {
    width: 100%;
  }

  .textContainer2 p {
    font-size: 1.7em;
  }
  .containerChild {
    flex-direction: column;
  }

  .buttonContainer {
    position: relative;
    z-index: 19;
  }

  .pizzaSmokeContainer {
    width: 65%;
    margin-bottom: 2em;
  }

  .pizzaSmokeContainer .imgContainer1 img {
    width: 100%;
  }
}

@media screen and (min-width: 910px) and (max-width: 1085px) {
  .containerChild {
    flex-direction: column;
  }

  .textContainer {
    width: 100%;
  }
}

/* Tabletas */
@media screen and (min-width: 1085px) and (max-width: 1299px) {
  .titleContainer1 h1 {
    font-size: 5em;
  }

  .textContainer2 p {
    font-size: 1.7em;
  }

  .pizzaSmokeContainer {
    /* width: 40%;
    height: 600px;
    position: relative; */
    margin-bottom: 15em;
  }
}

/* Desktop */
@media screen and (min-width: 1300px) and (max-width: 1530px) {
  .titleContainer1 h1 {
    font-size: 6em;
  }

  .textContainer2 p {
    font-size: 1.7em;
  }
}



/* PAULO */

.navbar { /* Estilo para el navbar horizontal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  z-index: 1000;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 40px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.navbar .logo p {
  margin: 0;
  font-weight: bold;
}

.navbar .nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav li {
  margin-right: 20px; /* Espacio entre elementos del navbar */
}

.navbar .nav li:last-child {
  margin-right: 0; /* Elimina el espacio del último elemento */
}

.navbar .nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease; /* Efecto de transición */
}

.navbar .nav li a:hover {
  color: orangered; /* Color al pasar el ratón */
}

.sidebar { /* Estilo para la barra lateral */
  display: none; /* Oculta la barra lateral */
}

.container, .footer {
  margin-left: 0px; /* Añade margen izquierdo igual al ancho de la sidebar */
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #2B3035;
  color: white;
  padding: 5em;
  text-align: center;
}

.main-panel {
  padding-bottom: calc(60px + 15px); 
}


/*  GABRIEL */

.pedidos{
  /* grid-area: pedidos; Para el Test Grid */
  color: white;
  display: flex;
  justify-content: space-evenly;    /* manda las cosas al centro eje X */
  /* align-items: center; */
  width: 100%;
  height: 100%;                   /* Adaptar a gusto a futuro, uso % para que al dar al boton */
  background-color: black;      /* "Agregar Mas" no se salga de su contenedor */

  /* Mismas reglas de fuentes que el resto de la pagina */
  font-size: 0.88em;
  text-align: center;
  font-weight: bold;
  /* Mismas reglas de fuentes que el resto de la pagina */
  flex-wrap: wrap;
  padding: 0px;                  /* Sin padding queda diferente a la seccion del medio */
}

.divPedidos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
  width: 95%;
  height: 95%;
  background-color: rgb(26, 26, 26, 90%); 
}

.divPedidos h1{
  font-size: 40px;
}

.textoPedidos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 95%;
  background-color: black(8, 8, 8);
}

.inputCantidad{
  width: 3em;                     /* Hace chiquitos el selector de cantidad */
}

.divPedidos form{
  width: 95%;
}

.Delivery{
  background-image: url("DeliveryPNG.png");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.contactos{
  /* grid-area: pedidos; Para el Test Grid */
  color: black;
  display: flex;
  justify-content: space-evenly;    /* manda las cosas al centro eje X */
  /* align-items: center; */
  width: 100%;
  height: 100%;                   /* Adaptar a gusto a futuro, uso % para que al dar al boton */
  /* background-color: white;*/      /* "Agregar Mas" no se salga de su contenedor */

  /* Mismas reglas de fuentes que el resto de la pagina */
  font-size: 0.88em;
  text-align: center;
  font-weight: bold;
  /* Mismas reglas de fuentes que el resto de la pagina */
  flex-wrap: wrap;
  padding: 0px;                  /* Sin padding queda diferente a la seccion del medio */
}

.divContactos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
  width: 95%;
  height: 95%;
  /* background-color: rgba(255, 255, 255, 1); */
  background-image: url(".imagenes\QuestionMarkBackgroundCortado.jpg");
}

.textoContactos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 95%;
  /* background-color: rgba(255, 255, 255, 1); */
}

.textoContactos h1{
  font-size: 40px;
}

.textoContactos h2{
  font-size: 30px;
}

#contactos{
  background-image: url("QuestionMarkBackgroundCortado.jpg");
  background-size: 100% 100%;
  /* background-color: transparent; */
  /* height: 300px; */
}


/* Cajita Pedidos */

.cajitaCSS{
  display: none; /* none para que no se vea ni bien carga la pagina */
  position: fixed; /* para que se mueva con vos */
  z-index: 1; /* asegurarse que quede adelante de todo */
  padding-top: 5vh; /* centrar la cajita */
  left: 0;
  top: 0;
  width: 100%; /* ancho de la cajita */
  height: 95%; /* altura height */
  overflow: auto; /* barrita de scroll por si hace falta */
  background-color: rgb(0,0,0); /* Fondos oscuros al invocar cajita */
  background-color: rgba(0,0,0,0.4); 
}

/* Reglas generales de la cajita */
.cajitaContenedor{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* animacion */
@-webkit-keyframes animatetop{
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* cerrar */
.cerrar{
  font-size: 28px;
  font-weight: bold;
  color: white;
  float: right;
}

.cerrar:hover,
.cerrar:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cajitaPedir{
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Cajita Pedidos */


/* MARCOS */


body {
  background: linear-gradient(355deg, #000000, #574671);
}

#empanadas h2,
#pizzas h2 {
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 6rem;
}

ul {
  list-style-type: none;
  margin-top: 50px;
  margin-right: 40px;
}

ul li {
  margin-bottom: 20px;
}

hr {
  margin: 40px;
}

.destacados {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: linear-gradient(135deg, rgb(44, 4, 58), rgb(188, 56, 56));
  position: relative;
  animation: cambiar 10s infinite;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.animacion {
  animation: move;
  animation-duration: 2s;
}

.linkForm a{
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.destacado {
  flex-grow: 1;
  width: 300px;
  max-width: 530px;
  margin-bottom: 30px;
  cursor: pointer;
}

.pizzas {
  width: 100vw;
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pizzas h2{
  margin: 6rem;
  color: white;
}

.pizza {
  box-shadow: 2px 2px 124px rgb(0, 0, 0);
  border-radius: 5%;
  margin: 3em 2.6em;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.705);
}

.empanadas {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.empanadas>ul>li{
 color: white;
}

.empanada {
  margin: 30px 20px;
  background-color: white;
}

.nombre {
  font-size: 0.88em;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.imagen {
  display: flex;
  justify-content: center;
}

.pizza:hover {
  filter: drop-shadow(0px 0px 0px rgba(255, 255, 0, 0.582));
}

.destacado img {
  width: 90%;
}

img {
  width: 80%;
}

.pizza button,
.empanada button {
  background-color: #fca757;
  color: white;
  text-align: center;
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.pizza button:hover,
.empanada button:hover {
  background-color: orangered;
}

@keyframes move {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
