.pedidos{
    /* grid-area: pedidos; Para el Test Grid */
    color: white;
    display: flex;
    justify-content: space-evenly;    /* manda las cosas al centro eje X */
    /* align-items: center; */
    width: 100%;
    height: 100%;                   /* Adaptar a gusto a futuro, uso % para que al dar al boton */
    background-color: black;      /* "Agregar Mas" no se salga de su contenedor */

    /* Mismas reglas de fuentes que el resto de la pagina */
    font-size: 0.88em;
    text-align: center;
    font-weight: bold;
    /* Mismas reglas de fuentes que el resto de la pagina */
    flex-wrap: wrap;
    padding: 0px;                  /* Sin padding queda diferente a la seccion del medio */
}

.divPedidos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    width: 95%;
    height: 95%;
    background-color: rgb(26, 26, 26, 90%); 
}

.divPedidos h1{
    font-size: 40px;
}

.textoPedidos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: black(8, 8, 8);
}

.inputCantidad{
    width: 3em;                     /* Hace chiquitos el selector de cantidad */
}

.selectComida{
    width: 20vw;
}

.inputEntrega{
    width: 50vw;
}

.inputConsulta1{
    width: 40vw;
}

.inputConsulta2{
    width: 40vw;
    height: 150px;
    
}

.divPedidos form{
    width: 95%;
}

.Delivery{
    background-image: url("DeliveryPNG.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.contactos{
    /* grid-area: pedidos; Para el Test Grid */
    color: black;
    display: flex;
    justify-content: space-evenly;    /* manda las cosas al centro eje X */
    /* align-items: center; */
    width: 100%;
    height: 100%;                   /* Adaptar a gusto a futuro, uso % para que al dar al boton */
    /* background-color: white;*/      /* "Agregar Mas" no se salga de su contenedor */

    /* Mismas reglas de fuentes que el resto de la pagina */
    font-size: 0.88em;
    text-align: center;
    font-weight: bold;
    /* Mismas reglas de fuentes que el resto de la pagina */
    flex-wrap: wrap;
    padding: 0px;                  /* Sin padding queda diferente a la seccion del medio */
}

.divContactos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    width: 95%;
    height: 95%;
    /* background-color: rgba(255, 255, 255, 1); */
    background-image: url(".imagenes\QuestionMarkBackgroundCortado.jpg");
}

.textoContactos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 95%;
    /* background-color: rgba(255, 255, 255, 1); */
}

.textoContactos h1{
    font-size: 40px;
}

.textoContactos h2{
    font-size: 30px;
}

#contactos{
    background-image: url("QuestionMarkBackgroundCortado.jpg");
    background-size: 100% 100%;
    /* background-color: transparent; */
    /* height: 300px; */
}


/* Cajita Pedidos */

.cajitaCSS{
    display: none; /* none para que no se vea ni bien carga la pagina */
    position: fixed; /* para que se mueva con vos */
    z-index: 1; /* asegurarse que quede adelante de todo */
    padding-top: 5vh; /* centrar la cajita */
    left: 0;
    top: 0;
    width: 100%; /* ancho de la cajita */
    height: 95%; /* altura height */
    overflow: auto; /* barrita de scroll por si hace falta */
    background-color: rgb(0,0,0); /* Fondos oscuros al invocar cajita */
    background-color: rgba(0,0,0,0.4); 
}
  
/* Reglas generales de la cajita */
.cajitaContenedor{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* animacion */
@-webkit-keyframes animatetop{
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop{
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
/* cerrar */
.cerrar{
    font-size: 28px;
    font-weight: bold;
    color: white;
    float: right;
}
  
.cerrar:hover,
.cerrar:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  

/* Cajita Pedidos */
